.footer{}

.common-footer {
  width: 100%;position: relative;
  max-width: 1168px;
  padding: 54px 0 0;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}
.common-footer .to-top{display: none;}
.common-footer p {
  margin-bottom: 0;
}
.common-footer .contact-mail {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #344857;
}
.common-footer .contact-mail .mail {
  color: #098de6;
}
.common-footer .nav-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.common-footer .nav-links .links-wrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.common-footer .nav-links .links-wrap > div {
  flex: 1;
  margin-bottom: 20px;
}
.common-footer .nav-links .links-item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.common-footer .nav-links .links-item .links-item-title {
  font-size: 14px;
  font-weight: 600;
  color: #63727d;
  margin: 10px 0;
}
.common-footer .nav-links .links-item a,
.common-footer .nav-links .links-item span {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #777A8C;
  margin-bottom: 8px;
}
.common-footer .nav-links .links-item a {
  cursor: pointer;
  text-decoration: none;
}
.common-footer .nav-links .links-item a:hover {
  color: #191C1E;
}
.common-footer .social {
  width: 300px;
  display: flex;
}
.common-footer .social .social-icon {
  opacity: 0.5;
}
.common-footer .social .social-icon:hover {
  opacity: 1;
}
.common-footer .social .wechat {
  position: relative;
}
.common-footer .social .wechat:hover .wechat-qrcode-container {
  display: block;
}
.common-footer .social .wechat .wechat-qrcode-container {
  display: none;
  position: absolute;
  left: -50px;
  margin-left: 12px;
}
.common-footer .social .wechat .wechat-qrcode-container::before {
  content: "";
  position: absolute;
  bottom: 40px;
  width: 14px;
  left: 40px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #fff;
  border: solid 1px #d5dce0;
}
.common-footer .social .wechat .wechat-qrcode-container::after {
  content: "";
  position: absolute;
  bottom: 41px;
  width: 14px;
  left: 41px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #fff;
}
.common-footer .social .wechat .wechat-qrcode-container .wechat-qrcode {
  position: absolute;
  bottom: 47px;
  width: 100px;
  height: 100px;
  border: solid 1px #d5dce0;
  border-radius: 2px;
}
.common-footer .social .social-icon {
  margin-right: 24px;
}
.common-footer .nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.common-footer .nav-info .info {
  display: flex;
  align-items: center;
}
.common-footer .nav-info .info .copyright {
  font-size: 13px;
  font-weight: normal;
  color: #777A8C;
  margin-right: 28px;
}
.common-footer .nav-info .info a {
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  color: #777A8C;
  margin-right: 28px;
  text-decoration: none;
  cursor: pointer;white-space: nowrap;
}
.common-footer .nav-info .info a:hover {
  color: #191C1E;
}
.common-footer .nav-info .language {
  position: relative;
  display: flex;
  align-items: center;
}
.common-footer .nav-info .language .current-language {
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  color: #777A8C;
  margin-left: 8px;
  cursor: pointer;
  margin-bottom: 0;
}
.common-footer .nav-info .language .current-language:hover {
  color: #191C1E;
}
.common-footer .nav-info .language .trangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #c2c8cc transparent;
  margin-left: 6px;
  margin-top: 2px;
}
.common-footer .nav-info .language:hover .languageSel{display: block;}
.common-footer .nav-info .language .languageSel{
	position: absolute;background-color: #fff;background-clip: padding-box;white-space: nowrap;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);bottom: 20px;padding: 12px 16px;
    z-index: 800;display: none;
}
.common-footer .nav-info .language .languageSel .item{
	padding: 0 10px;
	font-size: 13px;
	line-height: 30px;
	color: #344857;
	cursor: pointer;
}
.common-footer .nav-info .language .languageSel .item:hover{
	background: #F2F4F5;
	border-radius: 4px;
}

.common-footer .media-wrap {
  width: 100%;
  justify-content: space-between;display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.common-footer .friend-link {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #F4F6F9;
  margin-top: 15px;
  font-weight: normal;
}
.common-footer .friend-link .friend-title {
  font-size: 13px;
  line-height: 15px;
  color: #C4C9D9;
  margin-right: 65px;
  font-weight: normal;
}
.common-footer .friend-link .friend-links {
  padding: 20px 0;
}
.common-footer .friend-link .friend-links a {
  font-size: 13px;
  line-height: 15px;
  color: #777A8C;
  margin-right: 30px;
  font-weight: normal;
}
.common-footer .friend-link .friend-links a:hover {
  color: #191C1E;
}
.subscribe {
  position: relative;
  margin-top: 10px;
}
.subscribe .subscribe-input {
  border-radius: 20px;
  background-color: #f2f4f5;
  border: none;
  outline: none;
  padding: 0 40px 0 20px;
  height: 40px;
  width: 300px;
  font-size: 13px;
}
.subscribe .subscribe-icon,
.subscribe .subscribe-submit {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
.subscribe .subscribe-submit {
  width: 24px;
  height: 24px;
  opacity: 0;
  z-index: 10;
}



@media (max-width: 1168px){
	.subscribe-item {
	    width: 100%;
	    padding: 0;
	  }
	  .subscribe-item .subscribe-input {
	    width: 100% !important;
	  }
	.common-footer {
	    width: 100%;
	    padding: 20px 1em;
	    position: relative;
	    padding: 20px 1rem;
	    border-top: 1px solid #F4F6F9;
	  }
	.common-footer .to-top{position: absolute;display: block;
	    right: 15px;
	    top: -30px;
	    width: 60px;
	    height: 63px;}
	  .common-footer .friend-link {
	    padding-top: 20px;
	  }
	  .common-footer .friend-link .friend-title {
	    margin-right: 40px;
	  }
	  .common-footer .friend-link .friend-links {
	    padding: 10px 0;
	  }
	  .common-footer .to-top {
	    position: absolute;
	    right: 15px;
	    top: -30px;
	    width: 60px;
	    height: 63px;
	  }
	  .common-footer .nav-links {
	    width: 100%;
	    flex-wrap: wrap;
	  }
	  .common-footer .nav-links .links-wrap {
	    width: 100%;
	  }
	  .common-footer .nav-links .links-wrap .links-item {
	    width: 50%;
	  }
	  .common-footer .nav-links .links-item {
	    width: 50%;
	    max-width: none;
	    padding-right: 1em;
	  }
	  .common-footer .nav-links .links-item .subscribe {
	    margin-top: 2px;
	  }
	  .common-footer .nav-info {
	    flex-direction: column;
	    align-items: flex-start;
	    margin-top: 0;
	  }
	  .common-footer .social {
	    width: 100%;
	    margin-top: 1.8em !important;
	  }
}

@media (max-width: 500px) {
    .common-footer .nav-links .links-wrap{display: none;}
	.common-footer .media-wrap .subscribe-item{display: none;;}
	.common-footer .media-wrap .social{display: none;}
	/* .common-footer .media-wrap .nav-info a{display: none;} */
	.common-footer .media-wrap .nav-info .language{display: none;}
	/* .common-footer .nav-info {display: flex;} */
}
