.header{background-color: #fff;width: 100%;}
.header .wrap{height: 80px;display: flex;align-items: center;justify-content: space-between;max-width: 1168px;margin: 0 auto;}
.header .logo{margin-right: 40px;}
.header .nav{flex:1;display: flex;align-items: center;justify-content: space-between;}
.header .nav ul{display: flex;align-items: center;}
.header .nav li{padding: 8px 16px;margin: 8px 12px;font-weight: normal;color: #777a8c;cursor: pointer;flex-wrap: wrap;position: relative;}
.header .nav .arrow{display: flex;align-items: center;}
.header .nav .arrow:after{content: '';display: inline-block;width: 18px;height: 18px;background: url(../img/arrow-down.svg);opacity: 0.5;}
.header .nav .arrow:hover{background: rgba(25, 28, 30, 0.1);border-radius: 8px;color: #191C1E;}
.header .nav .arrow:hover::after{background-image: url(../img/arrow-up.svg);opacity: 1;}
.header .nav .link{background: #468BDF;margin-left: 28px;border-radius: 8px;color: #fff;white-space: nowrap;}
.header .nav .link:hover{background: #3F7AC2;}
.header .menuIco{display: none;}

.header .nextNav{display:none ;background-color: #fff;position: absolute;top:36px;left:0;box-shadow: 0 2px 8px rgb(0 0 0 / 15%);padding: 10px 12px;border-radius: 8px;white-space: nowrap;z-index: 200;}
.header .nextNav .item{display: flex;align-items: flex-start;padding: 0 12px;}
.header .nextNav img{margin-top: 20px;}
.header .nextNav .name{border-bottom: 0.5px solid #e1e6ea;margin-left: 20px;padding: 20px 0;flex:1;}
.header .nextNav h4{font-size: 17px;color: #43454f;margin-bottom: 4px;font-weight: 400;}
.header .nextNav h5{font-size: 15px;color: #777a8c;margin-bottom: 4px;font-weight: 300;}
.header .nextNav .item:last-child .name{border-bottom: 0;}
.header .nextNav .item:hover{background: #f2f4f5;border-radius: 8px;}
.header .nextNav.double{width: 618px;flex-wrap: wrap;}
.header .nextNav.double .item{width: 45%;}
.header .nav li:hover .nextNav{display: block;}
.header .nav li:hover .nextNav.double{display: flex;}

.header .minNavList{width: 100%;position: fixed;top: 0;left:0;height: 100vh;background-color: #fff;z-index: 10;}

.header .minNavList .navBar{display: flex;flex-flow: row nowrap;align-items: center;justify-content: space-between;padding: 0 15px;height: 80px;}
.header .minNavList .navBar .language{display: flex;align-items: center;}
.header .minNavList .navBar .language img{margin-right: 5px;}
.header .minNavList .mobile-menu{height: calc(100vh - 80px);overflow-y: scroll;overflow-x: hidden;background: white;opacity: 1;}
.header .minNavList .mobile-menu .button{padding: 0 25px;display: flex;flex-flow: column nowrap;}
.header .minNavList .mobile-menu .button .item{height: 56px;border-radius: 8px;margin-bottom: 15px;line-height: 56px;font-size: 17px;text-align: center;font-weight: 400;background: rgba(70, 139, 223, 0.1);color: #468BDF;}
.header .minNavList .mobile-menu .button .link{background: #468BDF;color: #fff;}
.header .minNavList .mobile-menu .mobileList{margin-top: 15px;border-top: 1px solid #E1E6EA;width: 100% !important;border-right: 0;}
.header .minNavList .mobile-menu .mobileList .item{border-bottom: 1px solid #E1E6EA;}
.header .minNavList .mobile-menu .mobileList .item .name{height: 55px;display: flex;align-items: center;justify-content: space-between;}
.header .minNavList .mobile-menu .mobileList .item .name span{padding-left: 24px;font-weight: 600;font-size: 14px;line-height: 19px;color: #43454F;}
.header .minNavList .mobile-menu .mobileList .item .name i{margin-right: 24px;}
.header .minNavList .mobile-menu .mobileList .item .name i::before{content: '';display: inline-block;background: url(../img/arrow-down.svg) no-repeat;width: 15px;height: 15px;background-size: cover;}
.header .minNavList .mobile-menu .mobileList .item .name.sel i::before{background-image: url(../img/arrow-up.svg);}
.header .minNavList .mobile-menu .mobileList .itemNext{border-top: 1px solid #E1E6EA;}
.header .minNavList .mobile-menu .mobileList .itemNext .next{padding-left: 48px;line-height: 40px;font-weight: 300;}
.header .minNavList .mobile-menu .mobileEmail{padding: 0 20px;margin-top: 15px;padding-bottom: 45px;}
.header .minNavList .mobile-menu .mobileEmail .note{font-size: 14px;line-height: 16px;color: #C4C9D9;margin-top: 10px;display: block;padding-left: 15px;}
.header .minNavList .mobile-menu .mobileEmail .input{border-radius: 20px;background-color: #f2f4f5;border: none;outline: none;padding: 0 10px 0 20px;height: 40px;font-size: 13px;display: flex;align-items: center;}
.header .minNavList .mobile-menu .mobileEmail .input input{flex:1;border: 0;background: none;}
.header .minNavList .languageSel{position: absolute;top:80px;left:0;width: 100%;}
.header .minNavList .languageSel .bg{position: absolute;top:0;left:0;width: 100%;height: 100vh;background-color: rgba(0,0,0,.5);}
.header .minNavList .languageSel .item{font-weight: 600;font-size: 13px;color: #777A8C;line-height: 55px;border-bottom: 1px solid #E1E6EA;padding: 0 15px 0 30px;position: relative;z-index: 2;background-color: #fff;display:flex;align-items: center;justify-content: space-between;}
.header .minNavList .languageSel .item.sel::after{content: '';display: inline-block;background: url(../img/check.svg);background-size: cover;width: 24px;height: 24px;}

@media (max-width: 1168px){
	.header .wrap{padding: 0 15px;}
	
}
@media (max-width: 1030px){
	
}
@media (max-width: 900px){
	
}
@media (max-width: 860px){
	.header{position:sticky;top:0;z-index: 10;}
}
@media (max-width: 780px) {
	.header .logo{margin-right: 0;}
    .header .nav li{padding: 8px 0;margin: 8px 5px;}
    .header .nav .link{margin-left: 5px;padding: 8px;}
}
@media (max-width: 500px) {
    .header .nav{display: none;}
	.header .menuIco{display: block;}
}
@media (max-width: 450px){
	
}